<%= cache(cache_key_for_content_row(content)) do %>

    <div class="content bubble" data-time="<%= content.created_at.to_i %>">
      <b><%= content.owner %>:</b> <%= content.title %>
      <% if content.file? %>
          <%= image_tag content.file.url, class: "img-responsive", width: "50%" %>
      <% end %>
    </div>

<% end %>
