<%= cache stream do %>

    <div class="stream bubble" data-time="<%= stream.created_at.to_i %>" data-id="<%= stream.id %>">

      <b><%= link_to stream.title, stream %> (<%= stream.contents.size %>)</b>
      by
      <i> <%= stream.owner %> </i> <br/>
      <i> <%= time_ago_in_words(stream.created_at, include_seconds: true) %> ago</i>

    </div>

<% end %>