<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 sidebar">

      <div class="well well-sm">
        <h3><%= @stream.title %>
          <small>by <%= @stream.owner %></small>
        </h3>

        <label class="label label-info">expires
          in <%= time_ago_in_words(@stream.expire_at, include_seconds: true) %></label>

        <p class="lead">
          <%= @stream.description %>
        </p>
      </div>

      <div>
        <%= form_for :content, url: stream_contents_path(@stream[:id]), enforce_utf8: false do |f| %>
            <%= f.text_field :owner, placeholder: "Your name", required: true, value: session[:owner], class: "form-control", autocomplete: "off" %>

            <div class="input-group">

              <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  <span class="glyphicon glyphicon-picture">
                    <%= f.file_field :file, accept: "image/*" %>
                  </span>
                </span>
              </span>

              <%= f.text_field :data, placeholder: "Type a message", required: true, class: "form-control", autocomplete: "off", autofocus: "true" %>

              <span class="input-group-btn">
                <%= submit_tag "Send", name: nil, class: "btn btn-primary" %>
              </span>

            </div>

        <% end %>
      </div>

    </div>

    <div class="contents col-md-8 col-md-offset-4" data-id="<%= @stream.id %>">
      <%= render @stream.contents %>
    </div>
  </div>
</div>
