<div class="container-fluid">
  <div class="row">
    <div class="create-stream col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
      <h2>Start a new stream</h2>

      <%= form_for :stream, url: streams_path, enforce_utf8: false do |f| %>

          <div class="form-group">
            <%= f.text_field :owner, placeholder: "Your name", required: true, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.text_field :title, placeholder: "Topic", required: true, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.text_area :description, placeholder: "What is the stream about?", class: "form-control", autocomplete: "off", rows: "3" %>
          </div>

          <div class="form-group">
            <%= f.label :expire_in %>
            <%= f.select :expire, ["10 minutes", "1 hour", "1 day", "1 week", "2 weeks", "1 month"], {}, {class: "form-control"} %>
          </div>

          <div class="form-group text-center">
            <%= submit_tag "Start", name: nil, class: "btn btn-primary" %>
          </div>

      <% end %>
    </div>

    <%= cache [:recent_streams, @contents] do %>
        <div class="recent-streams col-sm-5 col-md-4">
          <h5>Recent streams</h5>
          <%= render @streams %>
        </div>
    <% end %>
  </div>
</div>
