<h1>Welcome to Stream Share!</h1>

Start a new stream by filling out the information below:

<%= form_for :stream, url: stream_index_path do |f| %>
    <%= f.text_field :owner, placeholder: "Your name", required: true %>
    <br>

    <%= f.text_field :title, placeholder: "Topic", required: true %>
    <br>

    <%= f.text_area :description, placeholder: "What is the stream about?" %>
    <br>

    <!--
    <%= f.text_field :expire_minutes, placeholder: "Minutes" %>
    <br>

    <%= f.text_field :pin, placeholder: "Pin" %>
    <br>

    <%= f.check_box :is_private %> private
    <br>
    -->

    <%= submit_tag("Start") %>
<% end %>