<head>
  <meta http-equiv="refresh" content="10">
</head>

<h1><%= @stream.title %></h1>
<h5>by <%= @stream.owner %></h5>
<%= @stream.description %>
<hr/><br/>

<% cache(cache_key_for_content_list(@stream.contents)) do %>
    <% @stream.contents.each do |content| %>
        <% cache(cache_key_for_content_row(content)) do %>
            <%= content.owner %>: <%= content.title %> <br/>
        <% end %>
    <% end %> <br/>
<% end %>

<%= form_for :content, url: stream_content_index_path(@stream[:id]) do |f| %>
    <%= f.text_field :owner, placeholder: "Your name", required: true, value: session[:owner] %> <br/>
    <%= f.text_area :data, placeholder: "Enter data here", required: true %> <br/>
    <%= submit_tag("Submit") %>
<% end %>