<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="/logo.png" class="image-navbar"/>
      </a>
      <%= link_to 'Stream Share', root_path, class: "navbar-brand" %>
    </div>

    <%= form_tag("/search", method: "get", enforce_utf8: false, class: "navbar-form navbar-right") do %>
        <div class="input-group">
          <%= text_field_tag :q, nil, placeholder: "Search streams", autocomplete: "off", class: "form-control" %>
          <span class="input-group-btn">
              <%= submit_tag :Go, name: nil, class: "btn btn-default" %>
            </span>
        </div>
    <% end %>
  </div>
</header>